.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.card-container {
    height: 700px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

.card {
    background-color: #fff;
    display: flex;
    width: 220px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.card_rotate {
    /* animation: 0.5s hideCard linear; */
    transform: rotateY(0);
}

/* @keyframes hideCard {

    0%,
    70% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(180deg);
    }
} */

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info p {
    font-size: 37px;
    margin: 0 0 10px 10px;
}

.card-info p:first-child {
    margin-right: 80px;
}


.card .image_rotate {
    transition: transform 0.3s;
     transform: scale(1);
    /* animation: 0.5s hideImage linear; */
    opacity: 1;
}

.card img {
    max-width: 100%;
    max-height: 80%;
    transform: scale(0);

    transition: 0.5s;
}


/* @keyframes hideImage {

    0%,
    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
} */


.active {
    transform: rotateY(0);
    animation: restarted;
    pointer-events: none;
}

.correct {
    background-color: #65e469;
}

.wrong {
    background-color: #fd245a;
}

 .active img {
    transform: scale(1);
}


.modal__outter {
    position: fixed;
    background-color: #00000097;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
}

.modal__inner {
    position: relative;
    padding: 20px 25px 28px 25px;
    z-index: 2;
    width: 500px;
    background-color: white;
    text-align: center;
    margin: 0px auto;
    transition: 3s;
    animation: 3s appear linear;
}

@keyframes appear {

    0% {
        opacity: 0;
        transform: translateX(-200px);

    }

    30% {
        transform: translateX(-120px);
    }

    30%,
    100% {
        opacity: 1;
        transform: translateX(0px);
    }


}

.close-div {
    display: flex;
    justify-content: end;
}

.close-div img {
    width: 30px;
    height: 30px;
}

.modal__inner p {
    font-size: 36px;
    margin: 10px 0;
}