.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.card-container {
    height: 550px;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

.card {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 160px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    transform: rotateY(180deg);
    transition: 0.3s;
}

.card_rotate {
    transform: rotateY(0);
    pointer-events: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info p {
    font-size: 37px;
    margin: 0 0 30px 10px;
}

.card-info p:first-child {
    margin-right: 80px;
}


.card .image_rotate {
    transition: transform 0.3s;
    transform: scale(1);
    opacity: 1;
    pointer-events: none;
}

.card img {
    max-width: 100%;
    max-height: 98%;
    transform: scale(0);
    transition: 0.3s;
}


.active {
    transform: rotateY(0deg);
    pointer-events: none;
}

.correct {
    background-color: #65e469;
    pointer-events: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
}



.wrong {
    background-color: #fd245a;
}

.active img {
    transform: scale(1);
}


.modal__outter {
    position: fixed;
    background-color: #00000097;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.modal__inner {
    position: relative;
    padding: 20px 25px 28px 25px;
    z-index: 2;
    width: 500px;
    background-color: white;
    text-align: center;
    margin: 0px auto;
    transition: 3s;
    animation: 3s appear linear;
}

@keyframes appear {

    0% {
        opacity: 0;
        transform: translateX(-200px);

    }

    30% {
        transform: translateX(-120px);
    }

    30%,
    100% {
        opacity: 1;
        transform: translateX(0px);
    }


}

.close-div {
    display: flex;
    justify-content: end;
}

.close-div img {
    width: 30px;
    height: 30px;
}

.modal__inner p {
    font-size: 36px;
    margin: 10px 0;
}

.card-options {
    display: flex;
}

.card-options button {
    width: 90px;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: #65e469;
    margin-bottom: 30px;
    font-size: 20px;
}

.card-options button:first-child {
    margin-right: 30px;
}


@media screen and (max-width:768px) {
    .card {
        height: 120px;
    }

    .card-container {
        width: 98%;
    }

    .card-body h2 {
        text-align: center;
    }

    .card-info p:first-child {
        margin-right: 0;
    }

    .card-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    .modal__inner p {
        font-size: 28px;
    }

    .modal__inner {
        width: 360px;
        margin: 0;
    }
}

@media screen and (max-width:450px) {
    .card {
        height: 110px;
    }

    .modal__inner {
        width: 300px;
        padding: 20px 0 28px 0;
    }

    .close-div img {
        width: 20px;
        height: 20px;
        padding-right: 10px;
    }
}


.loader {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(-1, 1);
    color: red;
}