.auth-main {
    margin: 0 auto;
    padding: 0;
}

.auth__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}


.end__form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

.username {
    width: 27rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    box-shadow: 0 0.1rem 1.4rem 0 rgb(86, 185, 235);
}

.username::placeholder {
    color: #aaa;
}

.auth__text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.95);
    }
}


.btn {
    font-size: 2.4rem;
    padding: 1.6rem 0;
    width: 30rem;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(8, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
    border: none;
}


.wrapper {
    margin-top: 25px;
    display: inline-flex;
    background: #fff;
    height: 76px;
    width: 453px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: linear-gradient(90deg, rgb(8, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2,
#option-3:checked:checked~.option-3 {
    border-color: #0069d9;
    background: #0069d9;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot,
#option-3:checked:checked~.option-3 .dot {
    background: #fff;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before,
#option-3:checked:checked~.option-3 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span {
    font-size: 20px;
    color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span {
    color: #fff;
}

.mode-chooser {
    color: white;
    font-size: 30px;
    margin: 20px 0 0px 0;
}


@media screen and (max-width:576px) {
    .username {
        outline: none;
        width: 15rem;
        font-size: 1.4rem;
    }

    .auth__text {
        font-size: 1.2rem;
        animation: none;
    }

    .username__span {
        font-size: 1.3rem;
    }

    .btn {
        font-size: 1.4rem;
        width: 18rem;
    }

    .wrapper {
        width: 17rem;
        padding: 10px 10px;
    }

    .wrapper .option {
        margin: 0 3px;
    }

    .mode-chooser {
        font-size: 22.4px;
    }
    
    
}