.auth-main {
    margin: 0 auto;
    padding: 0;
}

.auth__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}


.end__form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

.username {
    width: 27rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    box-shadow: 0 0.1rem 1.4rem 0 rgb(86, 185, 235);
}

.username::placeholder {
    color: #aaa;
}

.auth__text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.95);
    }
}


.btn {
    font-size: 2.4rem;
    padding: 1.6rem 0;
    width: 30rem;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(8, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
    border: none;
}

@media screen and (max-width:576px) {
    #username {
        outline: none;
        width: 15rem;
        font-size: 1.4rem;
    }

    #end__text {
        font-size: 1.4rem;
        animation: none;
    }

    .username__span {
        font-size: 1.3rem;
    }
}